{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-light py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h4 class="card-title text-center mb-4">LogIn</h4>

            {% include 'includes/alerts.html' %}

            <form action="{% url 'change_password' %}" method="POST">
              {% csrf_token %}

              <div class="row mb-3">
                <div class="col">
                  <label for="email" class="form-label">Email Address</label>
                  <input type="email" name="email" id="email" placeholder="Enter Email Address" class="form-control">
                </div>

              </div>



              <div class="row mb-3">
                <div class="col">
                  <label for="new-password" class="form-label">Enter New Password</label>
                  <input type="new-password" name="new-password" id="new-password" class="form-control" placeholder="Enter New Password">
                </div>
                
                  <div class="col">
                  <label for="confirm-password" class="form-label">Enter Confirm Password</label>
                  <input type="confirm-password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Enter Confirm Password">
                </div>

              </div>

              <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary px-4">Change Password</button>
              </div>

            </form>
            

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
