{% extends 'base.html' %} {% load static %} {% block content %}
{% include 'includes/alerts.html' %}
{% if products %}
{% for product in products %}
<h2>{{product.name}}</h2>
<!-- Group all variants by color and sizes -->
 {% with product.variants.all as variants %}
        <form action="{% url 'addCart' product.id %}" method="POST">
          {% csrf_token %}
          <!-- Colors -->
          <div class="form-group">
            <label>Color:</label>
            <select class="form-control" name="color">
              {% for variant in product.variants.all %}
                <option value="{{ variant.color.name }}">{{ variant.color.name }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Sizes -->
          <div class="form-group">
            <label>Size:</label>
            <select class="form-control" name="size">
              {% for variant in product.variants.all %}
                <option value="{{ variant.size.name }}">{{ variant.size.name }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Add to the cart</button>
        </form>

  {% endwith %}
{% endfor %}
{% else %}
<h1>NO ITEMS</h1>
{%endif%}

{% endblock %}
